{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}
    <div class="text-center">
        <h2>{{ object.name }}</h2>
    </div>
    <div>
        <a href="{% url 'organization:list' %}">بازگشت</a>
        <a href="{% url 'quote:form_quote' %}">پیش فاکتور</a>
        <a href="{% url 'organization:Update' object.pk %}">ویرایش</a>
    </div>
    <div class="card-body">
        استان : {{ object.province_name }}
        <br>
        تلفن : {{ object.organization_phone }}
        <br>
        تاریخ ثبت : {{ object.timestamp.date }}
        <br>
        تعداد کارگر : {{ object.organization_staff }}
        <br>
        ثبت توسط : {{ object.creator.first_name }} {{ object.creator.last_name }}
        <br>
        محصولات تولیدی : {% for product in object.gget_organization_product %} ,{{ product }}{% endfor %}
        <br>
        محصولات پیشنهادی : {% for product in object.get_suggest_product %} ,{{ product }} {% endfor %}
    </div>
    <div class="text-center">
        <h2>اطلاعات مخاطب</h2>
    </div>
    <div class="card-body">
        نام مخاطب : {{ object.personnel_name }}
        <br>
        تلفن مخاطب : {{ object.personnel_mobile }}
        <br>
    </div>
    <div class="text-center">
        <h2>تاریخچه پیگیری</h2>
    </div>
    <div class='text-white mt-lg-5' style="margin-left: 15%; margin-right: 15%;">
        <table class='table table-dark'>
            <thead>
            <tr>
                <th>#</th>
                <th>کاربر</th>
                <th>تاریخ</th>
                <th>گزارش</th>
            </tr>
            </thead>

            <tbody>
            {% for followup in object_list %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <th>
                        <a href="#" style='text-decoration: none; color:white;'>{{ followup.product_name }}</a>
                    </th>
                    <th>{{ followup.price }}</th>
                    <th>
                        {{ followup.price }}
                    </th>
                    <th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
                        <div class="clearfix"></div>
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}">قبلی</a></li>
                            {% endif %}
                            {% for page in paginator.page_range %}
                                {% if page == page_obj.number %}
                                    <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                                {% else %}
                                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">بعدی</a></li>
                            {% endif %}
                        </ul>
{% endblock %}