{% extends 'shared/_MainLayout.html' %}
{% load static %}
{#{% load render_partial %}#}

{% block content %}
 <div class="text-center">
        <h2>لیست محصولات</h2>
    </div>
    <div class='text-white mt-lg-5' style="margin-left: 15%; margin-right: 15%;">
        <table class='table table-dark'>
            <thead>
            <tr>
                <th>#</th>
                <th>نام محصول</th>
                <th>قیمت</th>
                <th>مشمول مالیات</th>
                <th>دانلود کاتولوگ</th>
            </tr>
            </thead>

            <tbody>
                {% for product in object_list %}
                    <tr>
                        <th>{{forloop.counter}}</th>
                        <th>
                            <a href="#" style='text-decoration: none; color:white;'>{{product.name}}</a>
                        </th>
                        <th>{{product.price}}</th>
                        <th>
                            {% if product.tax %}
                                بله
                            {% else %}
                                خیر
                            {% endif %}
                        </th>
                        <th>
                            {% if product.file_pdf %}
                                <button class='btn btn-success'>
                                    <a href="{{product.file_pdf.url}}" style='text-decoration: none; color: white;'>دانلود</a>
                                </button>
                            {% else %}
                                -
                            {% endif %}
                        </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>



                        <div class="clearfix"></div>
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}">قبلی</a></li>
                            {% endif %}
                            {% for page in paginator.page_range %}
                                {% if page == page_obj.number %}
                                    <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                                {% else %}
                                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">بعدی</a></li>
                            {% endif %}
                        </ul>
{% endblock %}