{% extends 'shared/_MainLayout.html' %}
{% load i18n %}
{% block content %}

    <div class="container">
        <section id="form"><!--form-->
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="signup-form"><!--sign up form-->
                        <h2>تعریف محصول</h2>
                        <form method="post">
                            {% csrf_token %}

                            <label for="name">نام محصول</label>
                            <input type="text" id="name" name="name" placeholder="نام محصول">

                            <label for="price">قیمت</label>
                            <input type="number" id="price" name="price" placeholder="قیمت">

                            <label class="form-check-label fs-5 fw-bold" for="tax">مشمول مالیات</label>
                            <input class="form-check-input" type="checkbox" id="tax" name="tax"
                                   placeholder="مشمول مالیات">

                            <label for="file_pdf">فایل کاتالوگ(فقط فرمت pdf)</label>
                            <input type="file" id="file_pdf" name="file_pdf"
                                   placeholder="فایل کاتالوگ(فقط فرمت pdf)">

                            <label for="file_image">فایل کاتالوگ(فقط فرمت jpeg)</label>
                            <input type="file" id="file_image" name="file_image" placeholder="فایل کاتالوگ(فقط فرمت jpeg)">

                            <label for="description">ویژگی های فنی</label>
                            <textarea id="description" name="description"
                                      placeholder="ویژگی های فنی"></textarea>

                            <label for="organization_product" class="form-label"></label>
                            <select id='organization_product' name='organization_product' class="form-select" size="11" multiple>
                                {% for organization_product in organization_products %}
                                    {% if organization_product %}
                                        <option value="{{organization_product.pk}}">{{organization_product}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>

                            <button type="submit" class="btn btn-default">ذخیره</button>

                        </form>
                    </div><!--/sign up form-->
                </div>
            </div>
        </section>
    </div>
    <!--/form-->


{% endblock %}