{% extends 'shared/_MainLayout.html' %}
{% load widget_tweaks %}
{% load i18n %}


{% block content %}
    <div class="text-center">
        <h2>ثبت پیگیری</h2>
    </div>
    <form method="post" id="formsubmit">
        {% csrf_token %}
        <div class="form-group">
            <label for="text"></label>
            <textarea id="text" name="text" rows="5"
                      placeholder="{{ form.text.label }}"></textarea>
        </div>

        <button type="submit" class="btn btn-primary" id="btnsubmit">ذخیره</button>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#btnsubmit').on('click', function (event) {
                var text = $('#text').val();

                $.ajax({
                    method: 'POST',
                    url: '{% url 'quote:follow_up' organization.pk %}',
                    data: {
                        text: text
                    },
                    success: function (response) {
                        alert('با موفقیت ذخیره شد.');
                    },
                    error: function (response) {
                        alert('اطلاعات وارد شده صحیح نیست.');
                    },

                })
            });
        });
    </script>
{% endblock %}