{% extends 'shared/_MainLayout.html' %}
{% load i18n %}

{% block content %}
    <div class="text-center">
        <h2>لیست پیش فاکتور ها</h2>
    </div>
    <div class='text-white mt-lg-5' style="margin-left: 15%; margin-right: 15%;">
        <table class='table table-dark'>
            <thead>
            <tr>
                <th>#</th>
                <th>نام مشتری</th>
                <th>دستگاه ها</th>
                <th>فایل خروجی</th>
                <th>ارسال ایمیل به مخاطب</th>
            </tr>
            </thead>

            <tbody>
                {% for quote in object_list %}
                    <tr>
                        <th>{{forloop.counter}}</th>
                        <th>
                            <a href="#" style='text-decoration: none; color:black;'>{{quote.organization.organization_name}}</a>
                        </th>
                        <th>{% for item in quote.quoteitem_set.all %}{{ item.product.name }},{% endfor %}</th>
                        <th>
                            {% if quote.pdf_file %}
                                <button class='btn btn-success'>
                                    <a href="{{quote.pdf_file.url}}" style='text-decoration: none; color: white;'>دانلود</a>
                                </button>
                            {% else %}
                                -
                            {% endif %}
                        </th>
                        <th>
{#                            <a href="{% url 'quote:email_quote' quote.pk %}" style='text-decoration: none; color:black;'>ارسال ایمیل</a>#}
                            <a href="#" style='text-decoration: none; color:black;'>ارسال ایمیل</a>
                        </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

                        <div class="clearfix"></div>
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}">قبلی</a></li>
                            {% endif %}
                            {% for page in paginator.page_range %}
                                {% if page == page_obj.number %}
                                    <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                                {% else %}
                                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">بعدی</a></li>
                            {% endif %}
                        </ul>
{% endblock %}